#carousel {
	margin: 0 auto;
	height: 300px;
	width: 400px;
	border: 5px solid black;
	overflow: hidden;
}

ul {
	width: 2000px;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;
}

li {
	width: 400px;
	list-style-type: none;
	float: left;
}